/* Colors
primary background-color: #fff;
secondary background-color: #F5F4FA;
footer background-color: #2F303A;
titles color: #212121;
main text color: #757575;
acent color: #2196F3;


 */
:root {
    --main-font: "Roboto";
    --second-font: "Raleway";
    --titles-color: #212121;
    --acent-color: #2196F3;
    --text-color: #757575;
    --grey-color: #F5F4FA;
    --footer-color: #2F303A;
    --white-color: #ffffff;
    --black-color: #000000;
    
    


}

body {
    background-color: var(--white-color);
    font-family: var(--main-font), sans-serif;
    color: var(--titles-color);
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    
    
}

.par {
    margin: 0;
    
}

.links {
    text-decoration: none;
}

.lists {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header ==================================*/

.logo-link {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 119%;
    letter-spacing: 0.03em;
    color: var(--acent-color)
    
}


.logo-studio {
    color: var(--black-color);

}

.logo-link:hover *, .logo-link:focus * {
    color: var(--acent-color);

}

.header__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    color: var(--titles-color);
    
}

.header__nav-link:hover, .header__nav-link:focus {
    color: var(--acent-color);
}

.curent-link {
    color: var(--acent-color);
}

.curent-link:hover, .curent-link:focus {
    color: var(--titles-color);
}

.header__contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.header__contact-item:hover, .header__contact-item:focus {
    color: var(--acent-color);
}

/* Main================================== */
/* Order service========================= */

.hero {
    background-color: var(--footer-color);
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 200px 0px 30px 0px;
    margin: 0;
}

.hero__button {
    background: var(--acent-color);
    border: solid;
    border-radius: 4px;
    border-color: var(--acent-color);
    color: var(--white-color);
    padding: 10px 32px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-out;
}

.hero__button:hover, .hero__button:focus {
    background-color: transparent;
    color: var(--acent-color);

}

.hero__button:active {
    color: var(--white-color);
    border-color: var(--white-color);
}

/* Hilites=============================== */

.hilites__main-title {
    display: none;
}

.hilites__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--titles-color);
    margin: 0px 0px 10px 0px;
}

.hilites__par {
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--text-color);
   
}

/* Tasks=============================== */

.titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 116%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titles-color);
    padding: 94px 0px 50px 0px;
    margin: 0;
}

/* Team================================ */

.team__section {
    background-color: var(--grey-color);
}

.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 119%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titles-color);
    margin: 30px 0px 10px 0px;

}

.team__member-position {
    font-size: 16px;
    line-height: 119%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Footer================================ */

.footer {
    background-color: var(--footer-color);

}

.footer-studio {
    color: var(--white-color);
}

.footer__logo:hover *, .footer__logo:focus * {
    color: var(--acent-color);
}

.footer__contact {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__contact-adress {
    color: var(--white-color);
}

.footer__contact:hover, .footer__contact:focus {
    color: var(--acent-color);
}


/* Portfolio Page========================= */

.portfolio__title {
    display: none;
}

.portfolio__button {
    background: var(--grey-color);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titles-color);
    padding: 6px 22px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.portfolio__button:hover, .portfolio__button:focus {
    background: var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white-color);
}

.portfolio__button:active {
    background-color: var(--grey-color);
    color: var(--acent-color);
    
}

.works__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--titles-color);
    margin: 20px 24px 4px 24px;
}

.works__text {
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin: 0px 24px 20px 24px;
}


